@import '../variables';

.covid {
    &__choropleth-wrapper {
        path {
            fill: $color-choro-default;
            stroke: $color-white;
            stroke-width: .5px;
        }
    }

    &__controls {
        display: flex;
        justify-content: space-around;
        .date-slider {
            width: 30%;

            &__controls {
                display: flex;
                justify-content: space-between;

                .slider {
                    width: 80%;
                }
            }
        }
    }

    &__choropleth-tooltip {
        position: absolute;
        text-align: center;
        width: auto;
        height: auto;
        padding: 2px;
        font-size: 12px;
        font-family: $font-family-open-sans;
        background: $color-white;
        border: 0;
        pointer-events: none;
        color: $color-black;
    }
}